<h1 class="txt-center">
    Signup
</h1>

<% if flash[:error] %>
    <div class="container small-container">
        <div class="alert alert-danger">
            <%= flash[:error] %>
        </div>
    </div>
<% end %>

<%= form_for(@user) do |f| %>
    <div class="container well margin-top-20 small-container">
    	<div class="bold margin-top-20">
    		Email
    	</div>
    	<div class="margin-top-20">
    		<%= f.email_field :email, class: "form-control" %>
    	</div>
    	<div class="bold margin-top-20">
    		Password
    	</div>
    	<div class="margin-top-20">
    		<%= f.password_field :password, class: "form-control" %>
    	</div>
    	<div class="margin-top-20">
    		<a href="/" class="btn btn-default">Cancel</a>
    		<%= f.submit "Submit User", class: "btn btn-primary" %>
    	</div>
        <div class="margin-top-10">
            <a href="#">Have an account? Login here</a>
        </div>
    </div>
<% end %>
